/* We'll define a global font */
@font-face {
    font-family: pacifica;
    src: url(../fonts/pacifica-condensed-regular.ttf);
}

body {
  background-color: rgb(244, 244, 244);
  font: 300 1.25em/1.38 pacifica;
  color: rgb(0, 0, 0);
}

.menu_bg {
  display:block !important;
  position: relative;
  float: left;
  z-index: 11;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid rgb(0, 255, 209);
  background-color: rgb(255, 255, 255);
}

.menu {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0.0833333333%;
  z-index: 15;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.menu ._button:hover {
  border-bottom-width: 7px;
}

.menu .home-button {
  z-index: 12;
  margin-left: 10%;
}

.menu .rankings-button {
  z-index: 13;
  margin-left: 10px;
}

.menu .about-us-button {
  z-index: 14;
  margin-left: 10px;
}
.menu .fb-login-button {
  margin-top: -3px;
  margin-right: 30px;
  float: right;
  z-index: 14;
}

.quote {
  position: relative;
  float: left;
  z-index: 9;
  width: 100%;
  margin: 5px 0 0 0%;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  color: rgb(0, 0, 0);
}

.next_fesitval_tile {
  position: relative;
  float: left;
  z-index: 8;
  width: 85%;
  height: 273px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  border: 1px solid rgb(0, 255, 209);
  background-color: rgb(255, 255, 255);
}

.next_fesitval_tile .text {
  width: 100%;
  min-height: 75px;
  margin: auto;
  background-color: rgb(0, 255, 209);
  font-size: 2.75em;
  font-weight: 200;
  text-indent: 15px;
  color: rgb(255, 255, 255);
}

.next_fesitval_tile .highligh_content_container {
  width: 100%;
}

.next_fesitval_tile .highligh_content_container .next_festival_img {
  position: relative;
  width: 40%;
  height: 196px;
}

.next_fesitval_tile .highligh_content_container .list_container {
  position: relative;
  float: right;
  z-index: 6;
  width: 50%;
  height: 196px;
  margin: 0px 0 0px 0px;
}

.next_fesitval_tile .highligh_content_container .list_container .list_title {
  position: relative;
  float: left;
  text-align: center;
  z-index: 6;
  width: 70px;
  height: auto;
  line-height: auto;
  margin: 10px 0px 0px 0px;
  font-size: 1.4em;
  color: rgb(0, 0, 0);
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg); 
  -webkit-transform: rotate(-20deg);
}

.next_fesitval_tile .highligh_content_container .list_container .ranks {
  position: relative;
  float: left;
  text-align: left;
  z-index: 6;
  width: auto;
  height: auto;
  line-height: auto;
  margin: 40px 0px 0px -30px;
  font-size: 1.0em;
  color: rgb(0, 0, 0);
}

.center_tile {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 85%;
  height: 170px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 30px;
  border: 1px solid rgb(0, 255, 209);
  background-color: rgb(60, 60, 60);
}

.center_tile .box_text{
  position: relative;
  float: left;
  text-align: center;
  z-index: 6;
  width: 30%;
  height: 50px;
  line-height: 50px;
  margin: 24px 0 0 -12px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 140, 40);
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg); 
  -webkit-transform: rotate(-20deg);
}

.center_tile .prompt {
  position: relative;
  float: left;
  text-align: center;
  z-index: 6;
  width: 35%;
  height: 50px;
  line-height: 50px;
  font-size: 1.1em;
  margin: 80px 0 0 -140px;
  color: rgb(255, 255, 255);
}

.center_tile .festival_input {
  float: right;
  width: 280px;
  height: 35px;
  margin: 90px 50px 0 20px;
  padding: 0 10px;
  border: 1px solid rgb(0, 255, 209);
  background-color: rgb(242, 242, 242);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.center_tile .festival_input:focus {
  box-shadow: 0px 0px 10px rgb(0, 255, 209);
}

.center_tile .festival_list_suggestion {
  border: 1px solid rgb(0, 255, 209);
  background-color: rgb(242, 242, 242);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.festival_select_tile {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 41%;
  height: 246px;
  margin-right: 1.5%;
  margin-left: 7.5%;
  margin-top: 30px;
  border: 1px solid rgb(0, 255, 209);
  background-color: rgb(255, 255, 255);
}

.festival_select_tile .text {
  width: 53.6755181347%;
  min-height: 60px;
  margin: 23px 0 0 4.4041499999%;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #ff5268;
}

.festival_select_tile .prompt {
  width: 300px;
  margin: 100px 0 0 20%;
  font-size: 0.95em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.festival_select_tile .festival_input {
  display: block;
  float: left;
  clear: both;
  width: 80%;
  height: 35px;
  margin: 20px 0 0 20px;
  padding: 0 10px;
  border: 1px solid rgb(0, 255, 209);
  background-color: rgb(242, 242, 242);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.festival_select_tile .festival_input:focus {
  box-shadow: 0px 0px 10px rgb(0, 255, 209);
}

.full_rank_tile {
  position: relative;
  float: left;
  z-index: 2;
  width: 41%;
  height: 246px;
  margin-left: 1.5%;
  margin-right: 7.5%;
  margin-top: 30px;
  border: 1px solid rgb(0, 255, 209);
  background-color: rgb(255, 255, 255);
}

.full_rank_tile .text {
  width: 75.6476683937%;
  min-height: 60px;
  margin: 9px 0 0 15.90431%;
  font-size: 1.05em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  line-height: 1.38;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  text-align: center;
}

.full_rank_tile ._button {
  clear: both;
  width: 95.8549222797%;
  height: 158px;
  margin: 7px 0 0 1.91467%;
  border: 8px dashed rgb(160, 255, 237);
  background-color: rgb(0, 255, 209);
  font-size: 3.7em;
  font-weight: 200;
  line-height: 0.88;
  letter-spacing: -2px;
  word-spacing: 15px;
  color: rgb(255, 255, 255);
}

.menu ._button {
  position: relative;
  width: 12%;
  height: 50px;
  border-bottom: 1px solid rgb(0, 255, 209);
  font-size: 1em;
  line-height: 1.38;
  color: rgb(54, 61, 63);
  -webkit-transition: .1s ease;
  -moz-transition: .1s ease;
  -o-transition: .1s ease;
  -ms-transition: .1s ease;
  transition: .1s ease;
}

.footer {
  position: relative;
  float: left;
  z-index: 11;
  width: 100%;
  height: 50px;
  min-height: 50px;
  margin-top: 50px;
  background-color: rgb(60, 60, 60);
}

.footer .text {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 100%;
  height: 0px;
  margin: 15px 0 0 0%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 255, 209);
}
