/* We'll define a global font */
@font-face {
    font-family: pacifica;
    src: url(../fonts/pacifica-condensed-regular.ttf);
}

body {
  background-color: rgb(244, 244, 244);
  font: 300 1.25em/1.38 pacifica;
  color: rgb(0, 0, 0);
}

.menu_bg {
  position: relative;
  float: left;
  z-index: 11;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid rgb(0, 255, 209);
  background-color: rgb(255, 255, 255);
}

.menu {
  position: fixed;
  top: 0;
  left: 0.0833333333%;
  z-index: 15;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.title_container {
  position: relative;
  float: left;
  z-index: 8;
  width: 100%;
  height: 130px;
  margin-top: 50px;
  background-color: rgb(0, 255, 209);
}

.title_container .title {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 100%;
  height: 0px;
  margin: 10px 0 0 0%;
  font-size: 2em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.title_container .quote {
  position: relative;
  float: left;
  z-index: 9;
  width: 80%;
  margin: 50px 10% 0px 10%;
  font-size: .95em;
  line-height: 1.5;
  text-align: center;
  color: rgb(0, 0, 0);
}

.filters_container {
  position: fixed;
  float: left;
  z-index: 10;
  width: 250px;
  height: 450px;
  margin-left: 10px;
  margin-top: 190px;
  border: 1px solid rgb(0, 255, 209);
  background-color: rgb(255, 255, 255);
}

.filters_container .text {
  position: relative;
  float: left;
  z-index: 9;
  width: 80%;
  margin: 5px 10% 0px 5px;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: left;
  color: rgb(0, 0, 0);
}

.filters_container .festival_filter {
  position: relative;
  float: left;
  z-index: 8;
  width: 100%;
  height: 180px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

.filters_container .festival_filter .text {
  position: relative;
  float: left;
  z-index: 9;
  width: 80%;
  margin: 40px 2px 0px -80px;
  font-size: 1.6em;
  line-height: 1.5;
  text-align: center;
  color: rgb(0, 0, 0);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg);
}

.filters_container .festival_filter .festival_picker {
  position: relative;
  float: left;
  z-index: 8;
  width: 190px;
  height: 60px;
  margin-top: 40px;
  margin-left: -70px;
  /*font-size: 1.6em;   */
  font-size: auto;
}

.filters_container .festival_filter .festival_select {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 255, 209);
}


.filters_container .genre_filter {
  position: relative;
  float: left;
  z-index: 8;
  width: 100%;
  height: 180px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

.filters_container .genre_filter .text {
  position: relative;
  float: left;
  z-index: 9;
  width: 80%;
  margin: 40px 2px 0px -80px;
  font-size: 1.6em;
  line-height: 1.5;
  text-align: center;
  color: rgb(0, 0, 0);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg);
}

.filters_container .genre_filter .genre_container {
  position: relative;
  float: left;
  z-index: 9;
  width: 80%;
  height: auto;
  margin: 40px 2px 0px -80px;
}

.filters_container .genre_filter .genre_view {
  position: relative;
  float: left;
  z-index: 9;
  width: auto;
  height: auto;
  margin-left: 4px;
  margin-top: 4px;
  font-size: 1.0em;
  line-height: 1.5;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #42abff;
  border-radius: 4px;
}

.filters_container .genre_filter .genre_view:hover {
  position: relative;
  float: left;
  z-index: 9;
  width: auto;
  height: auto;
  margin-left: 4px;
  font-size: 1.0em;
  line-height: 1.5;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #51d2ff;
  border-radius: 4px;
}

.rankings_container {
  position: relative;
  float: left;
  z-index: 8;
  width: 70%;
  height: auto;
  margin-left: 270px;
  margin-right: 10px;  
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

.rankings_container .rank {
  position: relative;
  float: left;
  z-index: 8;
  width: 100%;
  height: 60px;
  border: 1px solid rgb(0, 255, 209);
}

.rankings_container .rank .rank_number {
  position: relative;
  float: left;
  z-index: 9;
  width: 7%;
  height: 60px;
  border-right: 1px solid rgb(0, 255, 209);
  font-size: 1.4em;
  line-height: 2.0;
  text-align: center;
  color: rgb(0, 0, 0);
}

.rankings_container .rank .artist_name {
  position: relative;
  float: left;
  z-index: 9;
  width: 53%;
  height: 60px;
  border-right: 1px solid rgb(0, 255, 209);
  margin-left: 20px;
  font-size: 1.4em;
  line-height: 2.0;
  text-align: left;
  color: rgb(0, 0, 0);
}

.rankings_container .rank .genre_container {
  position: relative;
  float: left;
  z-index: 9;
  width: 36%;
  height: 30px;
  max-height: 30px;
  margin-left: 2px;
  margin-top: 10px;
  font-size: 1.4em;
  line-height: 2.0;
  color: rgb(0, 0, 0);
}

.rankings_container .rank .genre_container .genre_view {
  position: relative;
  float: left;
  z-index: 9;
  width: auto;
  height: auto;
  margin-left: 4px;
  font-size: .7em;
  line-height: 1.5;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #42abff;
  border-radius: 4px;
}

.rankings_container .rank .genre_container .genre_view:hover {
  position: relative;
  float: left;
  z-index: 9;
  width: auto;
  height: auto;
  margin-left: 4px;
  font-size: .7em;
  line-height: 1.5;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #51d2ff;
  border-radius: 4px;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  text-align: center;
}

.menu ._button {
  position: relative;
  width: 12%;
  height: 50px;
  margin-top: -50px;
  border-bottom: 1px solid rgb(0, 255, 209);
  font-size: 1em;
  line-height: 1.38;
  color: rgb(54, 61, 63);
  -webkit-transition: .1s ease;
  -moz-transition: .1s ease;
  -o-transition: .1s ease;
  -ms-transition: .1s ease;
  transition: .1s ease;
}

.menu ._button:hover {
  border-bottom-width: 7px;
}

.menu .home-button {
  z-index: 12;
  margin-left: 10%;
}

.menu .rankings-button {
  z-index: 13;
  margin-left: 23.59896%;
}

.menu .about-us-button {
  z-index: 14;
  margin-left: 37.1992199999%;
}

.footer {
  position: relative;
  float: left;
  z-index: 11;
  width: 100%;
  height: 50px;
  min-height: 50px;
  margin-top: 50px;
  background-color: rgb(60, 60, 60);
}

.footer .text {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 100%;
  height: 0px;
  margin: 15px 0 0 0%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 255, 209);
}
