@font-face {
    font-family: pacifica;
    src: url(../fonts/pacifica-condensed-regular.ttf);
}

body {
  /*background-color: #252525;*/
  font: 300 1.25em/1.38 pacifica;
  color: rgb(0, 0, 0);
}

#splash-title {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  font-size: 4em;
  text-align: center;
  color: #ffffff;
}

#splash-quote {
  position: relative;
  float: left;
  z-index: 9;
  width: 100%;
  margin-top: 10px;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  color: rgb(255, 255, 255);
}

#instructions-container {
  width: 100%;
  height: auto;
}

#instructions-container  #instructions {
  z-index: 2;
  width: 500px;
  position: relative;
  height: 246px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 190px;
  background-color: #414545;
}

#instructions-container #instructions #text {
	margin-top: 20px;
	text-align: center;
  color: rgb(0, 255, 209);
}

#instructions-container #instructions #fb-login-container {
  margin-left: auto;
  margin-right: auto;
}

#instructions-container #instructions #fb-login {
  text-align: center;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

#button-text {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.animate-hide { 
  -webkit-transition: background-color linear 0.0s;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  transition: background-color linear 0.1s;
  opacity: 1;
}

.animate-hide.ng-hide {
  opacity: 0;
}



.to-stagegage-button {
  border: 1px solid rgb(0, 255, 209);
  color: rgb(0, 255, 209);
  margin-left: 185px;
}

.to-stagegage-button:hover {
  border: 1px solid rgb(0, 255, 209);
  background-color: #252525;
  margin-left: 185px;
}

.tile {
  border: 1px solid rgb(0, 255, 209);
  background-color: #ffffff;
}

