<link rel="stylesheet" href="css/splash.css">

<p id="splash-title">STAGEGAGE</p>
<p id="splash-quote">"RANKING THE BEST LIVE ARTISTS RIGHT NOW"</p>
<div id="instructions-container">
    <div id="instructions" class="tile">
        <p id="text">Testers login with facebook to continue</p>
        <div id="fb-login-container">
            <div id="fb-login" class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" data-width="50%" data-auto-logout-link="false">
            </div>
        </div>
        <button ng-click="go('/home')" class="animate-hide to-stagegage-button" ng-hide="!isAuthorized">
            <p id="button-text">To Stagegage</p>
        </button>
    </div>
</div>