<!doctype html>
<html ng-app="stagegage">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta property="fb:app_id" content="271053079752670" />
  <title>STAGEGAGE</title>
  <link rel="stylesheet" href="css/standardize.css" />
  <link rel="stylesheet" href="css/index-grid.css" />
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/rankings-grid.css">
  <link rel="stylesheet" href="css/rankings.css">
  <link rel="stylesheet" href="css/auth-overlay.css">
  <link rel="stylesheet" href="css/splash.css">
  <link rel="stylesheet" href="css/create-rank-select-shows.css">
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular/app.js"></script>
  <script src="js/angular/home.js"></script>
  <script src="js/angular/auth.js"></script>
  <script src="js/angular/rankings.js"></script>
  <script src="js/angular/splash.js"></script>
  <script src="js/angular/menu.js"></script>
  <script src="js/angular/createRank.js"></script>
  <script>
    console.log('Starting FB init');
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body class="body index clearfix">
  <div id="fb-root"></div>
  <div id="menu" class="menu clearfix" ng-hide="hideMenu">
    <div class="menu_bg" ng-controller="MenuController">
      <button ng-click="go('/home')" class="_button home-button">
        <a>HOME</a>
      </button>
      <button ng-click="go('/rankings')" class="_button rankings-button">
        <a>RANKINGS</a>
      </button>
      <button ng-click="go('/about-us')" class="_button about-us-button">
        <a>ABOUT US</a>
      </button>
      <div class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="true" data-auto-logout-link="false"></div>
    </div>
  </div>
  <div ng-controller="AuthController">
    <div id="auth-overlay" ng-model="authOverlay" ng-hide="hideOverlay">
      <div id="auth-overlay-tile">
        <p id="auth-overlay-tile-text">{{ unauthorizedMessage }}</p>
      </div>
    </div>
  </div>

  <div ng-view></div>

  <div ng-hide="hideFooter" id="footer" class="footer">
    <p class="text">STAGEGAGE</p>
  </div>
</body>
</html>