<!doctype html>
<html ng-app="stagegage">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta property="fb:app_id" content="271053079752670" />
  <title>HOME</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/auth-overlay.css">
  <script src="js/angular.min.js"></script>
  <script src="js/angular/home.js"></script>
  <script src="js/angular/auth.js"></script>
  <div id="fb-root"></div>
  <script>
    console.log('Starting FB init');
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body class="body index clearfix" ng-controller="HomeController">
  <div class="menu clearfix">
    <div class="menu_bg">
      <button onClick="window.location='index.html';" class="_button home-button">
        <p>HOME</p>
      </button>
      <button onClick="window.location='rankings.html';" class="_button rankings-button">
        <p>RANKINGS</p>
      </button>
      <button onClick="window.location='about-us.html';" class="_button about-us-button">
        <p>ABOUT US</p>
      </button>
        <div class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="true" data-auto-logout-link="false"></div>
    </div>
  </div>
  <div id="auth-overlay" ng-controller="AuthController">
    <div id="auth-overlay-tile">
      <p id="auth-overlay-tile-text">{{ unauthorizedMessage }}</p>
    </div>
  </div>
  <p class="title">STAGEGAGE</p>
  </body>
  <p class="quote">"RANKING THE BEST LIVE ARTISTS RIGHT NOW"</p>
  <div class="next_fesitval_tile clearfix">
    <p class="text">{{ highlight.title }}</p>
    <div class="highligh_content_container">
      <img src="{{highlight.img}}" class="next_festival_img"/>
      <div class="list_container">
        <p class="list_title">TOP 5</p>
        <ul class = "ranks">
          <li ng-repeat="rank in highlight.ranks | limitTo: 5">
            {{highlight.ranks.indexOf(rank) + 1}}. {{rank.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="center_tile">
    <p class="box_text">WHO SHOULD I SEE?</p>
    <p class="prompt">WHICH FESTIVAL ARE YOU ATTENDING?</p>
    <form ng-submit="redirectToRankings(futureFestivalRank.name)">  
      <input class="festival_input" type="text" list="futureFestivals" ng-model="futureFestivalRank.name">
    </form>
    <datalist id="futureFestivals" class="festival_list_suggestion">
      <option ng-repeat="festival in festivals" value="{{ festival }}"></option>
    </datalist>
  </div>
  <div class="festival_select_tile clearfix">
    <p class="text" >RANK YOUR FESTIVAL EXPERIENCE</p>
    <p class="prompt">WHICH FESTIVAL DID YOU ATTEND?</p>
    <form ng-submit="redirectToCreateRank(toRank.name)">
      <input class="festival_input" type="text" list="pastFestivals" ng-model="toRank.name"/>
    </form>
    <datalist id="pastFestivals" class="festival_list_suggestion">
      <option ng-repeat="festival in festivals" value="{{ festival }}"></option>
    </datalist>
  </div>
  <div class="full_rank_tile clearfix">
    <p class="text">CHECK OUT THE BEST LIVE ARTISTS RIGHT NOW</p>
    <button onClick="window.location='rankings.html';" class="_button">
      <p>THE FULL</p>
      <p>RANKINGS</p>
    </button>
  </div>
  <div class="footer">
    <p class="text">STAGEGAGE</p>
  </div>
</body>
</html>