<!doctype html>
<html ng-app="stagegage">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>RANKINGS</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/rankings-grid.css">
  <link rel="stylesheet" href="css/rankings.css">
  <link rel="stylesheet" href="css/auth-overlay.css">
  <script src="js/angular.min.js"></script>
  <script src="js/angular/rankings.js"></script>
  <script src="js/angular/auth.js"></script>
  <div id="fb-root"></div>
  <script>
    console.log('Starting FB init');
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body class="body index clearfix"  ng-controller="RankingsController">
  <div class="menu clearfix">
    <div class="menu_bg"></div>
    <button onClick="window.location='index.html';" class="_button home-button">
      <p>HOME</p>
    </button>
    <button onClick="window.location='rankings.html';" class="_button rankings-button">
      <p>RANKINGS</p>
    </button>
    <button onClick="window.location='about-us.html';" class="_button about-us-button">
      <p>ABOUT US</p>
    </button>
  </div>
  <div id="auth-overlay" ng-controller="AuthController">
    <div id="auth-overlay-tile">
      <p id="auth-overlay-tile-text">{{ unauthorizedMessage }}</p>
    </div>
  </div>
  <div class="title_container">  
    <p class="title">THE FULL RANKINGS</p>
    <p class="quote">ALBUMS. SOLO. GENRE. FAME. NONE OF IT MATTERS. STAGEGAGE BRINGS YOU THE ARTISTS YOU LOVE TO SEE LIVE.</p>
  </div>
  <div class="filters_container">
    <p class="text">FILTER ARTISTS BY:</p>
    <div class="festival_filter">
      <p class="text">FESTIVAL</p>
      <form action="" class="festival_picker">
        <select id="festivalFilterSelector" name="festivals_options" class="festival_select" ng-model="festivalSelector">
          <!-- don't forget the blank option -->
          <option></option>
          <option class="festival_option" ng-repeat="festival in festivals">{{ festival }}</option>
        </select>
      </form>
    </div>
    <div class="genre_filter" ng-model="filteredGenres">
      <p class="text">GENRE</p>
      <div class="genre_container">  
        <button  ng-repeat="genre in filteredGenres" ng-click='removeFromFilteredGenres(genre)' class='genre_view'>
            <p>{{genre}}</p>
        </button>
      </div>
    </div>
  </div>
  <ul class="rankings_container">
    <li class="rank" ng-repeat="rank in (filteredRanks = (ranks | filter:festivalSelector | filterByGenre:filteredGenres ))">
      <p class="rank_number">{{ filteredRanks.indexOf(rank) + 1 }}</p>
      <p class="artist_name">{{ rank.name }}</p>
      <div class="genre_container">
        <button  ng-repeat="genre in rank.genres" ng-click='addToFilteredGenres(genre)' class="genre_view">
          <p>{{genre}}</p>
        </button>
      </div>
    </li>
  </ul>
  <div class="footer">
    <p class="text">STAGEGAGE</p>
  </div>
</body>
</html>